/* Overwrite some colours */
:root {
    --tab-height-compact: 30px;
}

/* Adjust the width of the vertical scrollbar or hide it */
* {
    scrollbar-width: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1c1b22;
        --icons: rgb(251,251,254);
        --tab-separator: none;
        --tab-active-background: rgb(66,65,77);
        --tab-text: #fbfbfe;
    }
}

/* Top Menu & Settings */
#topmenu,
#settings {
    display: none;
}
