/* change params at your taste and needs */
/* put this script in userChrome.css in chrome folder in your profile folder /*
/* sizing first */

.titlebar-button>.toolbarbutton-icon {
	height: 16px !important;
	min-height: 16px !important;
	width: 16px !important;
	min-width: 16px !important;
}

.titlebar-button {
	padding-left: 2px !important;
	padding-right: 2px !important;
	padding-top: 10px !important;
}

/*------changing icons ico, png or svg files */
/* one for normal, one for hover to do a little anim */

.titlebar-min {
	list-style-image: url("titlebuttons/titlebutton-minimize.svg") !important;
	background-color: none !important;
}

.titlebar-min:hover {
	list-style-image: url("titlebuttons/titlebutton-minimize-hover.svg") !important;
	background-color: transparent !important;
}

/* maximize button */
.titlebar-max {
	list-style-image: url("titlebuttons/titlebutton-maximize.svg") !important;
	background-color: none !important;
}

.titlebar-max:hover {
	list-style-image: url("titlebuttons/titlebutton-maximize-hover.svg") !important;
	background-color: transparent !important;
}

/* restore button */
.titlebar-restore {
	list-style-image: url("titlebuttons/titlebutton-restore.svg") !important;
	background-color: none !important;
}

.titlebar-restore:hover {
	list-style-image: url("titlebuttons/titlebutton-restore-hover.svg") !important;
	background-color: transparent !important;
}

/* close button */
.titlebar-close {
	list-style-image: url("titlebuttons/titlebutton-close.svg") !important;
	background-color: none !important;
}

.titlebar-close:hover {
	list-style-image: url("titlebuttons/titlebutton-close-hover.svg") !important;
	background-color: transparent !important;
}

/* Windows specific styles */
@media (-moz-platform: windows),
       (-moz-platform: windows-win10) {
    /* Hide main tabs toolbar */
    :root[tabsintitlebar]{
        --uc-window-control-width: 0px; /* Space at the right of nav-bar for window controls */
        /* --uc-window-drag-space-width: 24px; */  /* To add extra window drag space in nav-bar */
    }

    #nav-bar{
        border-inline: var(--uc-window-drag-space-width,80px) solid var(--toolbar-bgcolor) ;
        border-inline-style: solid !important;
        border-right-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-width,0px));
    }

    :root:not([uidensity="compact"]) {
        --uc-toolbar-height: 38px;
    }
	
	:root {
        --chrome-content-separator-color: none !important;
    }

    #TabsToolbar {
        visibility: collapse !important;
    }

    :root:not([inFullscreen]) #nav-bar {
        margin-top: calc(0px - var(--uc-toolbar-height));
        z-index: 2;
    }

    #toolbar-menubar {
        min-height: unset !important;
        height: var(--uc-toolbar-height) !important;
        position: relative;
    }

    /* For a rounded button design, uncomment both lines in .titlebar-buttonbox. */
    .titlebar-buttonbox {
        z-index:3 !important;
        padding-left: 5px;
    }

    .titlebar-buttonbox * {
        width: 36px;
        height: 36px;
    }

    #toolbar-menubar[inactive] > #menubar-items {
        opacity: 0;
        pointer-events: none;
        margin-left: var(--uc-window-drag-space-width,0px);
    }
}


/* General styles */
#browser {
    position: relative;
}

#nav-bar, #urlbar {
    z-index: 100;
}

#sidebar-box:not([lwt-sidebar]){
    appearance: unset !important;
}

#sidebar-box[sidebarcommand*="tabcenter"] {
    z-index: 1;
}

#sidebar-box[sidebarcommand*="tabcenter"] #sidebar-header {
    visibility: collapse;
    display: none;
}

[sidebarcommand*="tabcenter"] #sidebar {
    min-width: 250px !important;
    max-width: 250px !important;
}

#sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) {
    display: block;
    position: relative;
    overflow: hidden;
    border-right: 1px solid var(--sidebar-border-color: #1c1b22);
    z-index: 10 !important;
    top: 0;
    bottom: 0;
}

#main-window[inFullscreen] #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) {
    min-width: 0px;
    max-width: 0px;
}

[sidebarcommand*="tabcenter"] ~ #sidebar-splitter {
    display: none;
}

[sidebarcommand*="tabcenter"] #sidebar {
    max-height: 100%;
    height: 100%;
}

#main-window:not([inFullscreen]) #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) ~ #appcontent {
    margin-left: var(--positionX1);
}

#main-window[inFullscreen][inDOMFullscreen] #appcontent {
    margin-left: 0;
}

#main-window[inFullscreen] #sidebar {
    height: 100vh;
}

[sidebarcommand*="tabcenter"] #sidebar-header {
    background: #0C0C0D;
    border-bottom: none !important;
}

[sidebarcommand*="tabcenter"] ~ #sidebar-splitter {
    border-right-color: #0C0C0D !important;
    border-left-color: #0C0C0D !important;
}

[sidebarcommand*="tabcenter"] #sidebar-switcher-target,
[sidebarcommand*="tabcenter"] #sidebar-close {
    filter: invert(100%);
}

@media (max-width: 630px) {
    #urlbar-container {
        min-width: 100% !important;
    }

    #menubar-items {
        display: none !important;
    }
}

#nav-bar{
  border-left-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-width,0px)); /* moves left side menu controls */
  border-right-width: var(--uc-window-drag-space-width,110px); /* moves right side menu controls */
  margin-left: 0 !important;
}
/* .titlebar-buttonbox-container{
  -moz-box-ordinal-group: 0 !important;
  direction: rtl  !important;
} */

#sidebar-header {
display: none !important;
}