#TabsToolbar {
  visibility: collapse !important;
}
#sidebar-header {
  display: none;
}
#titlebar {
  -moz-box-ordinal-group: 100 !important;
}
.titlebar-buttonbox-container {
  visibility: visible !important;
  display: flex !important;
}

/* --- BUTTON & ICON STYLING --- */
/* 1. Style the parent button (the clickable area) */
.titlebar-button {
  -moz-appearance: none !important;
  appearance: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 46px;
  height: 32px;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  transition: background-color 0.2s ease-in-out;
}

/* 2. Apply a hover effect to the BUTTON's background */
.titlebar-button:hover {
  background-color: rgba(128, 128, 128, 0.2) !important;
}
#close-button:hover {
  background-color: rgba(232, 17, 35, 0.9) !important;
}
.titlebar-button::before {
  content: "" !important;
}
.titlebar-button {
  width: 46px;
  height: 46px;
}

/* --- CUSTOM SVG ICONS --- */
/* Minimize Button */
.titlebar-min {
  background-image: url("titlebuttons/titlebutton-minimize.svg") !important;
}
.titlebar-min:hover {
  background-image: url("titlebuttons/titlebutton-minimize-hover.svg") !important;
}

/* Maximize Button */
.titlebar-max {
  background-image: url("titlebuttons/titlebutton-maximize.svg") !important;
}
.titlebar-max:hover {
  background-image: url("titlebuttons/titlebutton-maximize-hover.svg") !important;
}

/* Restore Button (when window is maximized) */
.titlebar-restore {
  background-image: url("titlebuttons/titlebutton-restore.svg") !important;
}
.titlebar-restore:hover {
  background-image: url("titlebuttons/titlebutton-restore-hover.svg") !important;
}

/* Close Button */
.titlebar-close {
  background-image: url("titlebuttons/titlebutton-close.svg") !important;
}
.titlebar-close:hover {
  background-image: url("titlebuttons/titlebutton-close-hover.svg") !important;
}
